# Koyeb panelida shu o'zgaruvchilarni kiriting
SECRET_KEY=your-strong-secret-key-here
DEBUG=False
ALLOWED_HOSTS=usas.uz,www.usas.uz
DATABASE_URL=postgres://user:password@host:5432/dbname
IMAGEKIT_PUBLIC_KEY=yout-key-here
IMAGEKIT_PRIVATE_KEY=your-private-key-here
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your-endpoint